  @import 'variables';
  .btn {
    display: block;
    margin-bottom: 30px;
    line-height: @line-height-h1;
    font-size: @font-size-big;
    font-weight: 700;
    text-align: center;
    &--download {
      padding-top: 14px;
      padding-bottom: 14px;
      font-size: @font-size-big;
      font-weight: 700;
      color: @text-white;
      border: 3px solid @text-white;
      border-radius: 27px;
      text-decoration: none;
      @media (min-width: @screen_tablet) {
        width: 276px;
        margin-left: 0;
      }
      @media (min-width: @screen_desktop) {
        width: 296px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 1.3125rem;
      }
    }
    &--download:hover {
      color: @pink;
      background: @bg-white;
    }
    &--download:active {
      color: rgba(210, 40, 86, 0.3);
    }
    &--green {
      width: 100%;
      margin-top: 12.7%;
      margin-left: auto;
      margin-right: auto;
      padding: 21px;
      text-transform: uppercase;
      color: #ffffff;
      background: @green;
      border: none;
      border-radius: 2px;
      outline: none;
      cursor: pointer;
      @media (min-width: @screen_tablet) {
        margin-top: 10.7%;
        max-width: 300px;
        float: left;
      }
      @media (min-width: @screen_desktop) {
        margin-top: 6.9%;
      }
    }
    &--green:hover {
      background: darken(@green, 10%)
    }
    &--green:active {
      color: rgba(255, 255, 255, 0.3);
    }
    &--green:disabled {
      background: #e5e5e5;
    }
    &--submit {
      padding-top: 14px;
      padding-bottom: 14px;
      margin-top: 4.3%;
      font-size: 1.15rem;
      font-weight: 700;
      color: @pink;
      border: 3px solid @pink;
      border-radius: 27px;
      background: @bg-white;
      text-decoration: none;
      @media (min-width: @screen_tablet) {
        width: 260px;
        margin: -2% 0 0 1.5%;
      }
      @media (min-width: @screen_desktop) {
        width: 210px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin: 0 0 0 7.6%;
      }
    }
    &--submit:hover {
      color: @bg-white;
      background: @pink;
    }
    &--submit:active {
      color: rgba(255, 255, 255, 0.3);
      background: @pink;
    }
    &--cancel {
      padding-top: 14px;
      padding-bottom: 14px;
      margin-top: -6.6%;
      margin-bottom: 18.5%;
      font-size: 1.15rem;
      font-weight: 700;
      color: #dddfe0;
      border: 3px solid #dddfe0;
      background: @bg-white;
      border-radius: 27px;
      text-decoration: none;
      @media (min-width: @screen_tablet) {
        width: 260px;
        margin: 8% 0 28.7% 1.5%;
      }
      @media (min-width: @screen_desktop) {
        width: 210px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin: 0 0 0 10.7%;
      }
    }
    &--cancel:hover {
      color: #b5b9bc;
      border-color: #b5b9bc;
    }
    &--cancel:active {
      color: #dddfe0;
      background: #b5b9bc;
    }
    &__photo {
      margin-top: 14%;
      @media (min-width: @screen_tablet) {
        width: 23px;
        height: 24px;
      }
      @media (min-width: @screen_desktop) {
        width: auto;
        height: auto;
      }
      &--crop {
        fill: #b5b9bc;
        margin-left: -5%;
        @media (min-width: @screen_tablet) {
          margin-top: 105%;
        }
        @media (min-width: @screen_desktop) {
          flex-basis: 15%;
          margin-top: 17%;
          margin-left: -2%;
        }
        &:hover {
          fill: #9aa0a4;
        }
        &:active {
          fill: @pink;
        }
      }
      &--fill {
        margin-left: 9.9%;
        margin-right: 4%;
        fill: #b5b9bc;
        @media (min-width: @screen_tablet) {
          margin: 99% 0 0;
        }
        @media (min-width: @screen_desktop) {
          flex-basis: 15%;
          margin-left: -1.4%;
          margin-right: 5%;
          margin-top: 17%;
        }
        &:hover {
          fill: #9aa0a4;
        }
        &:active {
          fill: @pink;
        }
      }
      &--contrast {
        fill: #b5b9bc;
        margin-top: 16.3%;
        margin-left: 9%;
        @media (min-width: @screen_tablet) {
          margin-top: 128%;
          margin-left: 11%;
          width: 17px;
          height: 17px;
        }
        @media (min-width: @screen_desktop) {
          flex-basis: 15%;
          margin-top: 47%;
          margin-left: 3.1%;
          width: auto;
          height: auto;
        }
        &:hover {
          fill: #9aa0a4;
        }
        &:active {
          fill: @pink;
        }
      }
    }
  }