  @import 'variables';
  .btn {
    display: block;
    margin-bottom: 30px;
    line-height: @line-height-h1;
    font-size: @font-size-big;
    font-weight: 700;
    text-align: center;
    &--download {
      padding-top: 14px;
      padding-bottom: 14px;
      font-size: @font-size-big;
      font-weight: 700;
      color: @text-white;
      border: 3px solid @text-white;
      border-radius: 27px;
      text-decoration: none;
      @media (min-width: @screen_tablet) {
        width: 296px;
        margin-left: -20px;
      }
      @media (min-width: @screen_desktop) {
        padding-top: 12px;
        padding-bottom: 12px;
        margin-left: -18px;
        font-size: 1.3125rem;
      }
    }
    &--download:hover {
      color: @pink;
      background: @bg-white;
    }
    &--download:active {
      color: rgba(210, 40, 86, 0.3);
    }
    &--green {
      width: 100%;
      margin-top: 35px;
      margin-left: auto;
      margin-right: auto;
      padding: 21px;
      text-transform: uppercase;
      color: #ffffff;
      background: @green;
      border: none;
      border-radius: 2px;
      outline: none;
      cursor: pointer;
      @media (min-width: @screen_tablet) {
        margin-top: 68px;
        max-width: 300px;
        float: left;
      }
      @media (min-width: @screen_desktop) {
        margin-top: 66px;
      }
    }
    &--green:hover {
      background: darken(@green, 10%)
    }
    &--green:active {
      color: rgba(255, 255, 255, 0.3);
    }
    &--green:disabled {
      background: #e5e5e5;
    }
    &--green-pp {
      width: 100%;
      margin-top: 35px;
      margin-left: auto;
      margin-right: auto;
      padding: 21px;
      text-transform: uppercase;
      color: #ffffff;
      background: @green;
      border: none;
      border-radius: 2px;
      outline: none;
      cursor: pointer;
      @media (min-width: @screen_tablet) {
        margin-top: 68px;
        max-width: 255px;
      }
      @media (min-width: @screen_desktop) {
        margin-top: 66px;
      }
    }
    &--green-pp:hover {
      background: darken(@green, 10%)
    }
    &--green-pp:active {
      color: rgba(255, 255, 255, 0.3);
    }
    &--green-pp:disabled {
      background: #e5e5e5;
    }
    &--submit {
      padding-top: 14px;
      padding-bottom: 14px;
      margin-top: 14px;
      font-size: 1.15rem;
      font-weight: 700;
      color: @pink;
      border: 3px solid @pink;
      border-radius: 27px;
      background: @bg-white;
      text-decoration: none;
      @media (min-width: @screen_tablet) {
        width: 260px;
        margin: 0 0 8px 9px;
      }
      @media (min-width: @screen_desktop) {
        width: 180px;
        border-radius: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 1px 0 53px 33px;
      }
    }
    &--submit:hover {
      color: @bg-white;
      background: @pink;
    }
    &--submit:active {
      color: rgba(255, 255, 255, 0.3);
      background: @pink;
    }
    &--cancel {
      padding-top: 14px;
      padding-bottom: 14px;
      margin-top: -20px;
      margin-bottom: 0;
      font-size: 1.15rem;
      font-weight: 700;
      color: #dddfe0;
      border: 3px solid #dddfe0;
      background: @bg-white;
      border-radius: 27px;
      text-decoration: none;
      @media (min-width: @screen_tablet) {
        width: 260px;
        margin: 15px 0 53px 8px;
      }
      @media (min-width: @screen_desktop) {
        width: 180px;
        border-radius: 30px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin: 3px 0 53px 47px;
      }
    }
    &--cancel:hover {
      color: #b5b9bc;
      border-color: #b5b9bc;
    }
    &--cancel:active {
      color: #dddfe0;
      background: #b5b9bc;
    }
    &__photo {
      margin-top: 45px;
      width: 48px;
      height: 48px;
      @media (min-width: @screen_tablet) {
        width: 23px;
        height: 24px;
      }
      @media (min-width: @screen_desktop) {
        width: 48px;
        height: 48px;
      }
      &--crop {
        fill: #b5b9bc;
        margin-left: -5px;
        @media (min-width: @screen_tablet) {
          margin-top: 16px;
          margin-left: -3px;
        }
        @media (min-width: @screen_desktop) {
          flex-basis: 15%;
          margin-top: 5px;
          margin-left: -3px;
        }
        &:hover {
          fill: #9aa0a4;
        }
        &:active {
          fill: @pink;
        }
      }
      &--fill {
        margin-left: 35px;
        fill: #b5b9bc;
        @media (min-width: @screen_tablet) {
          margin-top: 26px;
          margin-left: 0;
        }
        @media (min-width: @screen_desktop) {
          flex-basis: 15%;
          margin-top: 15px;
        }
        &:hover {
          fill: #9aa0a4;
        }
        &:active {
          fill: @pink;
        }
      }
      &--contrast {
        fill: #b5b9bc;
        margin-top: 50px;
        margin-left: 38px;
        @media (min-width: @screen_tablet) {
          margin-top: 26px;
          margin-left: 2px;
          width: 17px;
          height: 17px;
        }
        @media (min-width: @screen_desktop) {
          flex-basis: 15%;
          width: 31.92px;
          height: 31.92px;
          margin-top: 18px;
          margin-left: 5px;
        }
        &:hover {
          fill: #9aa0a4;
        }
        &:active {
          fill: @pink;
        }
      }
    }
  }