   @import 'variables';
   .content-photo {
     display: flex;
     flex-wrap: wrap;
     font-size: @font-size;
     line-height: 2.1em;
     color: @grey-dark;
     @media (min-width: @screen_tablet) {
       justify-content: center;
     }
     @media (min-width: @screen_desktop) {
       justify-content: center;
     }
     &__description {
       margin-top: 45px;
       margin-bottom: 50px;
       @media (min-width: @screen_tablet) {
         width: 85%;
         margin: 95px auto 12px;
         font-size: @font-size-big;
         line-height: @line-height-base;
       }
       @media (min-width: @screen_tablet) {
         margin-bottom: 42px;
       }
     }
     &__post {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: flex-start;
       margin: 0 auto 20px;
       background-color: @bg-grey;
       @media (min-width: @screen_tablet) {
         margin-left: 0;
         margin-right: 0;
       }
       @media (min-width: @screen_desktop) {
         margin-left: 0;
         margin-right: 0;
       }
       &--1 {
         flex-basis: 90%;
         @media (min-width: @screen_tablet) {
           flex-basis: 89%;
         }
         @media (min-width: @screen_desktop) {
           flex-basis: 79%;
         }
       }
       &--2 {
         flex-basis: 90%;
         @media (min-width: @screen_tablet) {
           flex-basis: 43%;
           margin-right: 10px;
         }
         @media (min-width: @screen_desktop) {
           flex-basis: 25%;
           margin-right: 0;
         }
       }
       &--3 {
         flex-basis: 90%;
         @media (min-width: @screen_tablet) {
           flex-basis: 43%;
           margin-left: 10px;
         }
         @media (min-width: @screen_desktop) {
           flex-basis: 25%;
           margin-right: 20px;
           margin-left: 20px;
         }
       }
       &--4 {
         flex-basis: 90%;
         @media (min-width: @screen_tablet) {
           flex-basis: 43%;
           margin-right: 10px;
         }
         @media (min-width: @screen_desktop) {
           flex-basis: 25%;
           margin-right: 0;
         }
       }
       &--5 {
         flex-basis: 90%;
         @media (min-width: @screen_tablet) {
           flex-basis: 43%;
           margin-left: 10px;
         }
         @media (min-width: @screen_desktop) {
           flex-basis: 25%;
         }
       }
       &--6 {
         flex-basis: 90%;
         @media (min-width: @screen_tablet) {
           flex-basis: 43%;
           margin-right: 10px;
         }
         @media (min-width: @screen_desktop) {
           flex-basis: 25%;
           margin-right: 20px;
           margin-left: 20px;
         }
       }
       &--7 {
         flex-basis: 90%;
         @media (min-width: @screen_tablet) {
           flex-basis: 43%;
           margin-left: 10px;
         }
         @media (min-width: @screen_desktop) {
           flex-basis: 25%;
         }
       }
     }
     &__pictop {
       order: 2;
       flex-basis: 100%;
     }
     &__panorama-day {
       order: 1;
       position: absolute;
       left: 51%;
       height: 35px;
       width: 138px;
       color: @text-white;
       z-index: 100;
       background-color: @pink;
       text-transform: uppercase;
       @media (min-width: @screen_tablet) {
         left: 73%;
       }
       @media (min-width: @screen_desktop) {
         left: 78%;
       }
     }
     &__picture {
       flex-basis: 100%;
     }
     &__name-user {
       margin-left: 20px;
       order: 3;
       font-size: @font-size;
       font-weight: (@font-weight-base + 300);
     }
     &__main-text {
       flex-basis: 90%;
       margin-top: -5px;
       margin-left: 20px;
       margin-right: 15px;
       order: 5;
       text-align: left;
       font-family: @font-family-regular;
       font-weight: @font-weight-base;
       line-height: @line-height-base;
       @media (min-width: @screen_tablet) {
         margin-right: 35px;
       }
       @media (min-width: @screen_desktop) {}
       &--top {
         @media (min-width: @screen_tablet) {
           order: 7;
         }
         @media (min-width: @screen_desktop) {}
       }
     }
     &__date {
       width: 115px;
       order: 4;
       margin-left: 4px;
       color: @grey-light;
       font-size: @font-size-small;
       text-transform: uppercase;
     }
     &__number-likes {
       margin-left: 5px;
       margin-top: -10px;
       margin-bottom: 10px;
       order: 7;
       padding: 5px;
       color: @pink;
       font-size: 12px;
       text-transform: uppercase;
       @media (min-width: @screen_tablet) {
         order: 6;
         margin-top: 20px;
         margin-left: 20px;
       }
       @media (min-width: @screen_desktop) {}
       &--top {
         @media (min-width: @screen_tablet) {
           order: 5;
         }
         @media (min-width: @screen_desktop) {}
       }
     }
     &__icon-heart {
       order: 6;
       margin-left: 15px;
       margin-top: -10px;
       margin-bottom: 10px;
       @media (min-width: @screen_tablet) {
         order: 7;
         margin-left: 250px;
         margin-top: -50px;
       }
       @media (min-width: @screen_desktop) {}
       &--top {
         @media (min-width: @screen_tablet) {
           order: 6;
         }
         @media (min-width: @screen_desktop) {}
       }
     }
   }