  @import 'variables';
  @import 'mixins';
  @import 'btn';
  .form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: @font-size;
    line-height: 2.142857143;
    color: @grey-dark;
    margin-bottom: -21%;
    @media (min-width: @screen_tablet) {
      margin-bottom: 35px;
    }
    @media (min-width: @screen_desktop) {
      margin-bottom: 0;
    }
    &__container {
      outline: 3px solid @pink;
      .container();
      .clearfix();
      &--1 {
        flex-basis: @width-container;
        margin-top: -2.3%;
        margin-bottom: -1%;
        @media (min-width: @screen_tablet) {
          flex-basis: 94.7%;
          margin-left: -7%;
          order: 0;
        }
        @media (min-width: @screen_desktop) {
          margin-right: 55px;
          flex-basis: 38%;
          margin-bottom: 0%;
        }
      }
      &--2 {
        flex-basis: 100%;
        background-color: @bg-grey;
        @media (min-width: @screen_tablet) {
          order: 3;
          flex-basis: @width-container--tablet;
          background-color: @bg-white;
        }
        @media (min-width: @screen_desktop) {
          flex-basis: 80%;
        }
      }
      &--3 {
        flex-basis: @width-container;
        margin-bottom: 2.4%;
        @media (min-width: @screen_tablet) {
          flex-basis: @width-container--tablet;
          order: 2;
        }
        @media (min-width: @screen_desktop) {
          flex-basis: 80%;
        }
      }
      &--4 {
        flex-basis: 100%;
        background-color: @bg-grey;
        margin-bottom: 7%;
        @media (min-width: @screen_tablet) {
          flex-basis: @width-container--tablet;
          order: 1;
          background-color: @bg-white;
          margin-top: -2%;
        }
        @media (min-width: @screen_desktop) {
          flex-basis: 37%;
          margin-top: 18px;
        }
      }
      &--5 {
        flex-basis: @width-container;
        @media (min-width: @screen_tablet) {
          order: 4;
          flex-basis: @width-container--tablet;
        }
        @media (min-width: @screen_desktop) {
          flex-basis: 80%;
        }
      }
    }
    &__description {
      margin-top: 14.5%;
      flex-basis: @width-container;
      @media (min-width: @screen_tablet) {
        flex-basis: 75%;
        margin: 13.3% auto 7.5%;
        font-size: @font-size-big;
        line-height: @line-height-base;
      }
    }
    &__description--full {
      display: none;
      @media (min-width: @screen_tablet) {
        display: inline;
        text-align: center;
      }
    }
  }
  
  .form__input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 23px;
    padding: 15px 3px 15px 20px;
    color: @blue;
    border: 2px solid #e7e7e7;
    border-radius: 2px;
    outline: none;
    font-size: @font-size-big;
    line-height: @line-height-base;
    @media (min-width: @screen_tablet) {
      margin-bottom: 7.3%;
    }
    @media (min-width: @screen_desktop) {
      margin-top: 30px;
    }
    &--contacts {
      @media (min-width: @screen_tablet) {
        align-self: center;
        width: 100%;
        margin-bottom: 0;
      }
      @media (min-width: @screen_desktop) {
        width: 100%;
      }
    }
    &--radio,
    &--checkbox {
      display: none;
    }
    &[type="text"]:hover,
    &[type="date"]:hover {
      border-color: @grey-dark;
    }
    &[type="text"]:focus,
    &[type="date"]:focus {
      border-color: @pink;
    }
    &--radio:checked ~ .user-platform__title::after {
      position: absolute;
      top: 3px;
      left: 12px;
      width: 15px;
      height: 15px;
      content: "";
      background: @pink;
      border-radius: 50%;
    }
    &--checkbox:checked ~ .achievement__item::after {
      position: absolute;
      top: 2px;
      left: 7px;
      width: 22px;
      height: 16px;
      content: "";
      background: url(/img/icon-check.svg) 0 0 no-repeat;
      background-size: 22px 17px;
    }
  }
  
  .form__group {
    box-sizing: border-box;
    &--name {
      @media (min-width: @screen_tablet) {
        display: flex;
        flex-direction: row;
        align-items: baseline;
      }
    }
    &--achievement {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      @media (min-width: @screen_tablet) {
        flex-direction: column;
        flex-wrap: wrap;
      }
      @media (min-width: @screen_desktop) {
        flex-basis: 33%;
        align-items: stretch;
      }
    }
    &--app {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      @media (min-width: @screen_tablet) {
        flex-direction: row;
        justify-content: flex-start;
      }
      @media (min-width: @screen_desktop) {
        justify-content: space-around;
      }
    }
    &--contacts {
      @media (min-width: @screen_tablet) {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
      }
      @media (min-width: @screen_desktop) {
        flex-basis: 40%;
        flex-direction: column-reverse;
      }
    }
  }
  
  .form__wrap {
    @media (min-width: @screen_tablet) {}
    @media (min-width: @screen_desktop) {
      display: flex;
      justify-content: space-around;
    }
  }
  
  .form__fieldset {
    box-sizing: border-box;
    border: none;
    @media (min-width: @screen_tablet) {
      padding: 30px 58px;
      border: 2px solid #e7e7e7;
      border-radius: 2px;
    }
    @media (min-width: @screen_desktop) {
      padding: 0;
    }
  }
  
  .form__title {
    display: block;
    margin-bottom: 12px;
    line-height: @line-height-h2;
    text-transform: uppercase;
    color: @pink;
    font-size: 0.875rem;
    &--name {
      float: left;
      margin: 0.1% 1% 3.5% 7.8%;
      text-align: left;
      @media (min-width: @screen_tablet) {
      margin: 0% 3.5% 0% 5.8%;
      }
      @media (min-width: @screen_desktop) {
        margin-right: 5px;
      }
    }
    &--info {
      text-align: left;
      margin: 0.9% 1% 3.5% 9%;
      @media (min-width: @screen_tablet) {
        margin-top: 15px;
        margin-bottom: 25px;
        
      }
      @media (min-width: @screen_desktop) {
        padding: 0;
        margin-top: 15px;
        margin-bottom: 20px;
        text-align: left;
      }
    }
    &--contacts {
      @media (max-width: @screen_tablet) {
        display: none;
      }
    }
    &--achievement {
      margin-bottom: 0;
      width: 80%;
    }
    &--legend {
      margin-bottom: 1.6%;
      @media (min-width: @screen_tablet) {
        padding-right: 5px;
        padding-left: 5px;
        margin: auto;
        text-align: center;
        font-size: @font-size;
      }
    }
  }
  
  .form-section {
    padding-top: 32px;
    padding-bottom: 25px;
    @media (min-width: @screen_tablet) {
      padding-bottom: 0;
    }
  }
  
  .user-platform {
    margin-top: 24px;
    text-align: left;
    @media (min-width: @screen_desktop) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &__item {
      margin-bottom: 0;
      margin-top: 4.1%;
      margin-left: -22.7%;
      @media (min-width: @screen_desktop) {
        width: 75%;
        margin-top: 23px;
        margin-left: 40px;
        margin-bottom: 38px;
      }
    }
    &__item:last-child {
      margin-bottom: 6.3%;
    }
    &__title {
      position: relative;
      margin-left: 24.5%;
      font-size: @font-size-big;
      cursor: pointer;
    }
    &__title::before {
      display: inline-block;
      vertical-align: top;
      content: "";
      width: 35px;
      height: 35px;
      margin-right: 20px;
      border: 2px solid #e7e7e7;
      border-radius: 50%;
      background: @bg-white;
    }
  }
  
  .form__input[type="radio"]:hover ~ .user-platform__title::before {
    border-color: @grey-dark;
  }
  
  .form__input[type="radio"]:active ~ .user-platform__title::before {
    border-color: @pink;
  }
  
  .form__input[type="checkbox"]:hover ~ .achievement__item::before {
    border-color: @grey-dark;
  }
  
  .form__input[type="checkbox"]:active ~ .achievement__item::before {
    border-color: @pink;
  }
  
  .achievement {
    margin-bottom: 4%;
    text-align: left;
    @media (min-width: @screen_desktop) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
    }
    & li {
      margin: 11% 0 2% -4% ;
      font-size: @font-size-big;
      @media (min-width: @screen_tablet) {
        margin-top: ;
        margin-bottom: ;
      }
      @media (min-width: @screen_desktop) {
        padding: 0;
      }
    }
    &__item {
      position: relative;
      cursor: pointer;
      margin-left: 9.8%;
    }
    &__item::before {
      display: inline-block;
      vertical-align: middle;
      content: "";
      width: 35px;
      height: 35px;
      margin-right: 15px;
      border: 2px solid #e7e7e7;
      background: @bg-white;
    }
    @media (min-width: @screen_tablet) {
      margin-bottom: -35px;
    }
    @media (min-width: @screen_desktop) {
      padding-bottom: 17px;
    }
  }
  
  .form-correction {
    margin-bottom: 52px;
    text-transform: uppercase;
    &__symbol {
      font-size: @font-size-big;
      color: @pink;
    }
    &__full-text {
      display: none;
      @media (min-width: @screen_desktop) {
        display: inline;
      }
    }
    @media (min-width: @screen_tablet) {
      float: right;
      margin-top: 80px;
      margin-bottom: 0;
    }
  }
  
  textarea {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    resize: none;
    margin-top: 4%;
    border: 2px solid #e7e7e7;
    text-align: center;
    font-family: @font-family-regular;
    font-weight: @font-weight-base;
    font-size: @font-size-big;
    @media (min-width: @screen_desktop) {
      width: 85%;
      margin-top: 25px;
      margin-bottom: 30px;
    }
  }