  @import 'variables';
  @import 'mixins';
  .page-header {
    position: absolute;
    top: 0;
    width: 100%;
    color: @text-white;
    z-index: 1000;
    user-select: none;
    &--mini {
      background-color: rgba(0, 0, 0, 0.3);
      @media (min-width: @screen_desktop) {
        display: none;
      }
    }
    &--full {
      display: none;
      background-color: @blue;
      @media (min-width: @screen_desktop) {
        display: block;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  
  .page-header__container {
    .container();
    .clearfix();
    padding-top: 18px;
    padding-bottom: 17px;
    @media (min-width: @screen_tablet) {
      padding-top: 25px;
      padding-bottom: 32px;
    }
  }
  
  .page-header__logo {
    float: left;
  }
  
  .logo-white {
    &--mobile {
      width: 74.426px;
      height: 22.859px;
      @media all and (min-width: @screen_tablet) {
        display: none;
      }
    }
    &--tablet {
      display: none;
      width: 146.3px;
      height: 40.375px;
      @media all and (min-width: @screen_tablet) {
        display: inline;
        margin-left: -20px;
      }
      @media all and (min-width: @screen_desktop) {
        display: none;
      }
    }
    &--desktop {
      display: none;
      width: 146.3px;
      height: 40.375px;
      @media all and (min-width: @screen_desktop) {
        display: inline;
      }
    }
  }
  
  .page-header__logo:hover .logo-white__text,
  .page-header__logo:hover .logo-white__glasses {
    fill: @pink;
  }
  
  .page-header__logo:active .logo-white__text,
  .page-header__logo:active .logo-white__glasses {
    fill: @text-white;
  }
  
  .page-header__logo:active .logo-white {
    opacity: 0.3;
  }
  
  .toggler {
    position: relative;
    float: right;
    width: 50px;
    height: 25px;
    cursor: pointer;
    margin-right: -3px;
    @media (min-width: @screen_tablet) {
      margin-top: 20px;
      margin-right: -16px;
    }
    @media (min-width: @screen_desktop) {
      display: none;
    }
    &--open {
      background-image: linear-gradient( rgba(255, 255, 255, 1) 16%, rgba(255, 255, 255, 0) 16%, rgba(255, 255, 255, 0) 44%, rgba(255, 255, 255, 1) 44%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 84%, rgba(255, 255, 255, 1) 84%, rgba(255, 255, 255, 1) 100%);
    }
    &--open:hover {
      background-image: linear-gradient( rgba(210, 40, 86, 1) 16%, rgba(255, 255, 255, 0) 16%, rgba(255, 255, 255, 0) 44%, rgba(210, 40, 86, 1) 44%, rgba(210, 40, 86, 1) 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 84%, rgba(210, 40, 86, 1) 84%, rgba(210, 40, 86, 1) 100%);
    }
    &--close {
      width: 25px;
      height: 25px;
      margin-right: -6px;
      font-size: 55px;
      line-height: 21px;
      font-family: @font-family-regular;
      font-weight: 300;
      color: @text-white;
      z-index: 70;
      @media (min-width: @screen_tablet) {
        margin-right: -4px;
        margin-top: 19px;
      }
    }
    &--close:hover {
      color: @pink;
    }
    &:active {
      opacity: 0.3;
    }
  }
  
  .nav-btn {
    display: none;
  }
  
  .nav-btn:checked ~ .page-header {
    position: relative;
  }
  
  .nav-btn:checked ~ .page-header--full {
    display: block;
    margin-bottom: 192px;
    @media (min-width: @screen_tablet) {
      margin-bottom: 142px;
    }
  }
  
  .main-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 1px solid #000000;
    background-color: @blue;
    @media (min-width: @screen_desktop) {
      position: static;
      display: block;
      padding-top: 5px;
      margin-right: -5px;
      float: right;
      width: 710px;
      border-top: none;
      background: none;
    }
  }
  
  .main-nav__list {
    @media (min-width: @screen_desktop) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: ;
    }
  }
  
  .main-nav__item {
    border-bottom: 1px solid #000000;
    @media (min-width: @screen_desktop) {
      margin-right: 61px;
      border-bottom: none;
    }
  }
  
  .main-nav__item:first-child {
    @media (min-width: @screen_desktop) {
      margin-right: ;
    }
  }
  
  .main-nav__item:last-child {
    @media (min-width: @screen_desktop) {
      margin-right: 0;
    }
  }
  
  .main-nav__link {
    display: block;
    text-align: center;
    padding: 19.7px 0;
    margin-left: 8px;
    font-weight: 600;
    border-top: 1px solid #485461;
    color: @text-white;
    font-size: @font-size-h2;
    text-transform: uppercase;
    line-height: @line-height-h2;
    @media (min-width: @screen_tablet) {
      padding: 19.4px 0;
    }
    @media (min-width: @screen_desktop) {
      padding: 10px 6px;
      margin-left: 0px;
      font-size: @font-size-big;
      font-weight: @font-weight-base;
      text-transform: none;
      border: none;
    }
  }
  
  .main-nav__link:hover {
    color: @pink;
    @media (min-width: @screen_desktop) {
      padding-bottom: 8px;
      color: @pink;
    }
  }
  
  .main-nav__link:active {
    color: rgba(210, 40, 86, 0.3);
    @media (min-width: @screen_desktop) {
      color: @text-white;
      opacity: 0.3;
    }
  }
  
  .main-nav__link--active {
    @media (min-width: @screen_desktop) {
      border-bottom: 2px solid @text-white;
    }
  }
  
  .main-nav__link--active:hover {
    @media (min-width: @screen_desktop) {
      border-bottom: 2px solid @pink;
    }
  }
  
  .main-nav__link--active:active {
    @media (min-width: @screen_desktop) {
      border-bottom: 2px solid @text-white;
      opacity: 0.3;
    }
  }