@import 'variables';
@import 'mixins';
.page-title {
  color: @text-white;
  background-color: @bg-dark;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/bg-back-mobile@2x.jpg);
  }
  @media (min-width: @screen_tablet) {
    background-image: url(../img/bg-back-tablet@1x.jpg);
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url(../img/bg-back-tablet@2x.jpg);
    }
  }
  &--inner {
    @media (min-width: @screen_desktop) {
      background-image: url(../img/bg-back-desktop@1x.jpg);
      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url(../img/bg-back-desktop@2x.jpg);
      }
    }
  }
}

.page-title__container {
  .container();
  padding-top: 77px;
  padding-bottom: 34px;
  @media (min-width: @screen_tablet) {
    padding-top: 180px;
    padding-bottom: 80px;
  }
}

.page-title__inner-container {
  @media (min-width: @screen_desktop) {
    padding-top: 172px;
    padding-bottom: 101px;
  }
}

.page-title--main {
  margin-left: 0;
  background-color: @bg-dark, @bg-dark;
  background-image: url(../img/iphone-hand-mobile@1x.png), url(../img/bg-back-mobile@1x.jpg);
  background-position: 5% bottom, center top;
  background-repeat: no-repeat, no-repeat;
  background-size: 258px auto, cover;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/iphone-hand-mobile@2x.png), url(../img/bg-back-mobile@2x.jpg);
  }
  @media (min-width: 350px) {
    background-position: 20% bottom, center top;
  }
  @media (min-width: 500px) {
    background-position: 30% bottom, center top;
  }
  @media (min-width: 550px) {
    background-position: 40% bottom, center top;
  }
  @media (min-width: @screen_tablet) {
    background: none;
  }
}

.page-title__main-container {
  padding-top: 66px;
  padding-bottom: 298px;
  @media (min-width: @screen_tablet) {
    padding: 0;
  }
}

.page-title__heading {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  z-index: 100;
  &--main {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    font-family: @font-family-light;
    font-weight: @font-weight-light;
    @media (min-width: @screen_tablet) {
      margin-top: 5px;
      margin-left: 0;
      font-size: 2.5rem;
    }
    @media (min-width: @screen_desktop) {
      margin-top: 20px;
      font-size: 3.125rem;
      
    }
  }
  &--form {
    @media (min-width: @screen_tablet) {
      max-width: 100%;
      margin: auto;
      font-size: 3.125rem;
    }
  }
  &--photo {
    padding-bottom: 25px;
    @media (min-width: @screen_tablet) {
      width: 50%;
      margin: auto;
      font-size: 3.125rem;
      padding-bottom: 60px;
    }
    @media (min-width: @screen_desktop) {
      padding: 0;
    }
  }
}