@import 'variables';
@import 'mixins';
@import 'slider-pagination';
.price {
  padding-top: 68px;
  padding-bottom: 43px;
  text-transform: uppercase;
  overflow: hidden;
  background: @bg-grey url(../img/bg-triangle-white.svg) center top no-repeat;
  background-size: ;
  @media (min-width: @screen_desktop) {
    padding-top: 114px;
    background-size: 100% auto;
  }
}

.price-table {
  .container();
  position: relative;
  width: 845px;
  margin: 48px auto 34px;
  border-collapse: collapse;
  left: 50%;
  transform: translateX(-50%);
  @media (min-width: @screen_tablet) {
    position: static;
    margin: 36px auto 26px;
    width: @width-container--tablet;
    transform: none;
  }
  @media (min-width: @screen_desktop) {
    width: @width-container--desktop;
  }
}

.price-table__header {
  position: relative;
  width: 25%;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: @blue;
  color: @text-white;
  border: 2px solid #e5e5e5;
  @media (min-width: @screen_tablet) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  @media (min-width: @screen_desktop) {
    padding-top: 11px;
    padding-bottom: 11px;
  }
}

.price-table__title {
  font-size: @font-size-big;
  font-weight: (@font-weight-base + 300);
  line-height: 1.2;
}

.price-table__cost {
  font-size: @font-size-h1;
  font-weight: (@font-weight-base - 100);
  line-height: 1;
  @media (min-width: @screen_tablet) {
    font-size: @font-size-big;
    line-height: 0.8;
  }
  @media (min-width: @screen_desktop) {
    font-size: @font-size-h1;
    line-height: 1;
  }
}

.price-table__flag {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 74px;
  height: 73px;
  overflow: hidden;
  & p {
    transform: rotate(-45deg) translateX(-32px) translateY(10px);
    transform-origin: 0 0;
  }
}

.price-table__flag--hit {
  background: url(../img/bg-hit.svg) no-repeat 0 0;
  @media (min-width: @screen_tablet) {
    background: url(../img/bg-hit-tablet.svg) no-repeat 0 0;
  }
}

.price-table__service {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 25px;
  font-size: @font-size;
  text-align: left;
  background-color: @bg-white;
  border: 2px solid #e5e5e5;
  @media (min-width: @screen_tablet) {
    padding-top: 11px;
    padding-left: 15px;
    padding-bottom: 11px;
  }
  @media (min-width: @screen_tablet) {
    padding-top: 15px;
    padding-left: 19px;
    padding-bottom: 15px;
  }
}

.price-table__icon-yes {
  width: 26.752px;
  height: 26.752px;
  margin: 0 75px 0;
}

.price-table__icon-no {
  width: 26.752px;
  height: 26.752px;
  margin: 0 75px 0;
}

.price-table__header--empty {
  display: none;
  @media (min-width: @screen_tablet) {
    display: block;
    opacity: 0;
    border: none;
  }
}

.price-table__service--tablet {
  display: none;
  background: none;
  @media (min-width: @screen_tablet) {
    display: table-cell;
    background-color: @bg-white;
    font-size: @font-size;
    text-transform: none;
  }
  @media (min-width: @screen_desktop) {
    font-size: @font-size-big;
  }
}

.service-mobile {
  @media (min-width: @screen_tablet) {
    display: none;
  }
}